<div class="row">
  <div class="col-12-xl">
    <h2 class="accordion-header" id="headingTable">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTable" 
      aria-expanded="true" aria-controls="collapseTable" (click)="onAccordionClick()" [ngClass]="{'collapsed' : !accordionOpenInit}" [attr.aria-expanded]="accordionOpenInit" >
        Responses
      </button>
    </h2>
    <div #accordionCollapse id="collapseTable" class="accordion-collapse collapse show" aria-labelledby="headingTable" [ngClass]="{'show' : accordionOpenInit}">
      <div class="accordion-body">
        <table class="table">
          <thead class="bright-th">
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Student?</th>
              <th>Where do you study?</th>
            </tr>
          </thead>
          <tbody class="table-striped">
            <tr *ngFor = "let response of allResponses">
              <td>{{response.firstName}}</td>
              <td>{{response.lastName}}</td>
              <td>{{response.email}}</td>
              <td>{{response.isStudent}}</td>
              <td>{{response.studyLocation}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
