
<div class="content-container">
  <div class="accordion" (click)="onAccordionClick()">
    <h2>{{ accordionHeading }}</h2>
  </div>
  <div class="panel" [style.maxHeight]="panelMaxHeight">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <input type="text" formControlName="firstName" id="firstName" placeholder="First name"/>
        <div *ngIf="firstName && firstName.touched && firstName.invalid" class="validation-error-messages" >
          <p *ngIf="firstName.errors?.required">
            This field is required.
          </p>
        </div>
      </div>
  
      <div class="input-wrapper">
        <input type="text" formControlName = 'lastName' id="lastName" placeholder="Last name"/>
        <div *ngIf="lastName && lastName.touched && lastName.invalid" class="validation-error-messages" >
          <p *ngIf="lastName.errors?.required">
            This field is required.
          </p>
          <p *ngIf="lastName.errors?.maxlength">
            Last name cannot be longer than 10 characters.
          </p>
        </div>
      </div>
  
      <div class="input-wrapper">
        <input type="email" formControlName="email" id="email" placeholder="Email"/>
        <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="validation-error-messages" >
          <p *ngIf="email.errors?.required">
            This field is required.
          </p>
          <p *ngIf="email.errors?.email">
            Please enter a valid email address.
          </p>
        </div>
      </div>
  
      <div class="input-wrapper">
        <label for="isStudent">Are you a student?</label>
        <input type="radio" formControlName="isStudent" id="studentYes" value="yes" (change)="selectIsStudent($event)">
        <label for="studentYes">Yes</label>
        <input type="radio" formControlName="isStudent" id="studentNo" value="no" (change)="selectIsStudent($event)">
        <label for="studentNo">No</label>
        <div *ngIf="isStudent && isStudent.invalid && (isStudent.dirty || isStudent.touched)" class="validation-error-messages" >
          <p *ngIf="isStudent.errors?.required">
            This field is required.
          </p>
        </div>
      </div>
  
      <div class="input-wrapper" *ngIf="studyLocationVisible">
        <input type="text" formControlName="studyLocation" id="studyLocation" placeholder="Where do you study?"/>
        <div *ngIf="studyLocation && studyLocation.invalid && (studyLocation.dirty || studyLocation.touched)" class="validation-error-messages" >
          <p *ngIf="studyLocation.errors?.required">
            This field is required.
          </p>
        </div>
      </div>
  
      <div class="input-wrapper">
        <input type="submit" id="submit" value = "Submit"/>
      </div>
  
    </form>
    <p *ngIf='submissionMessage != ""'>{{ submissionMessage }}</p>
    <!-- <p>Status: {{ formResponsesService.userForm.status }}</p> -->
  </div>
</div>
