/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: GothamMedium;
    src: url(GothamMedium.ttf);
}
@font-face {
    font-family: GothamLight;
    src: url(GothamLight.ttf);
}

$brand-primary: #9B3405;

body {
    margin: 25px;
    font-family: "GothamLight", sans-serif;
}

input, h1, h2, h3, h4, h5 {
    font-family: "GothamMedium", sans-serif;
}

input[type="submit"]{
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 10px;
}

.validation-error-messages {
    color: #a94442;
}

// .main-container {
//     padding: 25px;
// }
// .content-container {
//     box-shadow: 0 0 10px 0 rgba(0,0,0,0.26);
//     border-radius: 28px 28px 28px 28px;
//     padding: 15px;
//     max-width: 600px;
// }

input[type="email"], input[type="text"], input[type="submit"] {
    border-width: 1px 1px 1px 1px;
    border-radius: 28px 28px 28px 28px;
}

// input[type="submit"] {
//     background-color: #9B3405;
//     color: white;
//     border-color: white;
//     transition: color 0.2s ease-in;
//     transition: background-color 0.2s ease-in;
//     text-decoration: none;
// }
// input[type="submit"]:hover {
//     background-color: white;
//     color: #9B3405;
//     border-color: #9B3405;
//     text-decoration: underline;
// }

// .input-wrapper {
//     margin-bottom: 12px;
// }

// .validation-error-messages {
//     color: #a94442;
// }